# Python ignores
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
env/
ENV/

# OS files
.DS_Store
Thumbs.db

# Tooling
*.log
.idea/
.vscode/

# Local data
*.sqlite3
*.db

# Byte-compiled / optimized / DLL files
*.so
*.dylib
*.dll

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Jupyter
.ipynb_checkpoints/